/* common* { */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: ;
    color: ;
  }
  
  .container {
    width: 1287px;
    margin: 0 auto;
    border: 1px solid red;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  .btn {
    display: inline-block;
    min-width: 513px;
    padding: 24px;
    font-family: inherit;
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #4B0A64;
    border: 4px solid #4B0A64;
    border-radius: 5px;
    cursor: pointer;
  }
  
/* header */

.header{
    background-color: #66D1FF;
    /* padding: ????; */
    padding: 40px 0;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }l

  .header-btn {
    margin: 42px 0px 41px 122px;
    padding: 0px;

  }

  .header-logo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2 px solid brown;

  }
  .header-logo {

  } 

  .header-number {
    text-decoration: none;
  }

/* section-desc */

.desc{
    background-image: url(../images/goodpromo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
    padding: 350px 0;
}
.desc-title {
    margin-bottom: 60px;
    margin-top: 0;
}

.desc-text {


}

/* section-with-facts */

.option-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-left: -15px;
    margin-right:-15px ;
    list-style: none;
}

.option-text {


}
.option-item {
    width: 33.33%;
    padding: 15px;
    border: 1px solid blue;
}

/* section-lead */
.lead-visual {
  display: flex;
  justify-content: space-between;
}


.footer{
   


}